<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASXP1 - Connect to vCenter</title>
</head>
<body>
    <h1>Connect to vCenter</h1>
    <form action="{{ url_for('connect') }}" method="post">
        <label for="host">vCenter Host:</label>
        <input type="text" id="host" name="host" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Connect</button>
    </form>
</body>
</html>
